# 该文件sddm之类启动自动加载
# kde
# export XDG_CURRENT_DESKTOP=KDE
# --- Terminal(Kitty)
export GLFW_IM_MODULE=ibus
# --- wps
export QT_IM_MODULE=fcitx5
# --- fcitx5
GTK_IM_MODULE DEFAULT=fcitx
QT_IM_MODULE  DEFAULT=fcitx
XMODIFIERS    DEFAULT=@im=fcitx
xrdb -merge ~/.Xresources
fcitx5 &
