Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!! Xcursor (some X11 programs may read it from here, i.e. wezterm)
!! https://github.com/wez/wezterm/issues/524
Xcursor.theme: Adwaita
!! Xcursor.size: 27
